*{
    margin: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
}

.contPrin{
    width: 80%;
    max-width: 1080px;
    margin: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 2;
    grid-template-rows: 4;
}

body{
    background-color: #f4f4fc;
}

header{
    width: 100%;
    height: 70px;
}

.logo{
    width: 100px;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
}

main{
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.cont_txt{
    position: absolute;
    left: 200px;
    top: 100px;
    padding-left: 100px;
    width: 1080px;
    height: 600px;
}

.txt_box{
    width: 80%;
    height: 100%;
    border: none;
    background-color: #f4f4fc;
    cursor: pointer;
    color: #0a3871;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Inter',sans-serif;
}

.txt_box::placeholder{
    color: #0a3871;
}

.img_alert{
    position: absolute;
    left: 300px;
    top: 725px;
    display: flex;
    color: #495057;
}

.cont_button{
    position: absolute;
    left: 10px;
    top: 750px;
    padding-left: 15%;
    padding-top: 15px;
}

.btn_encript{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #0a3871;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter',sans-serif;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    
}

.btn_desencript{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #d8dfe8;
    color: #0a3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter',sans-serif;
    border: 1px solid #0a3871;
    margin-right: 20px;
    cursor: pointer;
}

.section_2{
    display: block;
    position: relative;
    width: 400px;
    height: 840px;
    right: 200px;
    top:20px;
    padding-right: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
}

.cont_mnco{
    position: absolute;
    left: 30px;
    top: 80px;
    box-sizing: border-box;
    padding-top: 50px;
}

.cont_msg{
    position: absolute;
    box-sizing: border-box;
    top: 500px;
    left: 60px;
    
}

.cont_msg h3{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter',sans-serif;
    text-align: center;
    color: #343a40;
    
}
.cont_msg p{
    font-size: 16px;
    font-weight: 70500;
    font-family: 'Inter',sans-serif;
    text-align: center;
    color: #343a40;
    
}

.txt_copy{
    color: #495057;
    font-size: 25px;
}
.txt_result{
    color: #495057;
    font-size: 25px;
    padding-left: 10%;
    text-align: left;
}

.cont_result{
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 700px;
    background-color: aqua;
    padding-left: 40px;
}



.btn_copy{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    position: relative;
    top: 725px;
    /*right: 1px;*/
    left: 35px;
   
}

.ocultar{
    display: none;
}


@media screen and (max-width:768px) {

    
}
